<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ApiTest">
        <classes>
            <class name="Tests.ClientTest">
            <methods>
                <include name="addNewClient"/>
                <include name="getClientDetails"/>
                <include name="editClient"/>
                <include name="addThreeClientsThenCheckCount"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>